body{
    background-color: rgb(0, 82, 65);
    align-items: center;

}
/* ---------------for all colors------------- */

.row{
    flex-wrap: wrap;
    text-align: center;
    margin: 50px auto;
    align-items: center; 
}
h1{
    text-decoration: underline overline white;
    color: white;
}


.flower1{
    border: 3px solid rgb(2, 2, 2);
    width: 500px;
    height: 670px;
    margin-left: 500px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: rgb(231, 134, 255);
}


/* ----------------single row-2 color flower--------------- */

.flower2{
    border: 3px solid rgb(2, 2, 2);
    width: 400px;
    height:440px;
    margin: 50px;
    border-radius: 15px;
    background-color:rgb(231, 134, 255);
    margin-left: 540px;
}


/* ------------------flower-3--------------- */
.flower3{
    border: 3px solid rgb(2, 2, 2);
    width: 400px;
    height:450px;
    margin: 50px;
    border-radius: 15px;
    margin-left: 540px;
    background-color: rgb(231, 134, 255);
}


/* ------------flower-4------------- */

.flower4{
    border: 3px solid rgb(2, 2, 2);
    width: 400px;
    height:440px;
    margin: 50px;
    border-radius: 15px;
    margin-left: 540px;
    background-color: rgb(231, 134, 255);
}


/* ----------------single row-3 color flower--------------- */

.flower5{
    border: 3px solid rgb(2, 2, 2);
    width: 400px;
    height: 760px;
    margin: 50px;
    margin-left: 540px;
    border-radius: 15px;
    background-color: rgb(231, 134, 255);
}

/* ----------flower-6-------------- */

.flower6{
    border: 3px solid rgb(2, 2, 2);
    width: 400px;
    height: 440px;
    margin: 50px;
    margin-left: 540px;
    border-radius: 15px;
    background-color: rgb(231, 134, 255);
}

/* -------------------flower-7----------------- */
.flower7{
    border: 3px solid rgb(2, 2, 2);
    width: 400px;
    height: 780px;
    margin: 50px;
    margin-left: 540px;
    border-radius: 15px;
    background-color: rgb(231, 134, 255);
}
.flower8{
    border: 3px solid rgb(2, 2, 2);
    width: 400px;
    height: 430px;
    margin: 50px;
    margin-left: 540px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(231, 134, 255);
}
.flower9{
    border: 3px solid rgb(2, 2, 2);
    width: 400px;
    height: 750px;
    margin: 50px;
    margin-left: 540px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(231, 134, 255);
}

h3{
    margin-top: 40px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

img{
    border-radius: 15px;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    
}

button{
    padding: 10px 25px;
    font-weight: bolder;
    border-radius: 35px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(172, 215, 0);
    border: 3px solid rgb(113, 113, 113);   
}
button:hover{
    background-color: plum;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 0px 7px 7px plum;
}


.color{
    color: rgb(223, 255, 14);
    font-weight: bolder;
    
}

/* ------------------------------------------------------------------------------------------------------------------ */


@media (max-width:576px){
    body{
        background-color: rgb(91, 0, 176);
    }
    .row{
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        margin: 50px auto;
    
    }
    .flower1{
        width: 370px;
        height: 540px;
        margin-left: 70px;
        margin-top: 50px;
    }
    .flower2{
        width: 370px;
        height: 410px;
        margin-left: 70px;
        margin-top: 50px;
       
    }
    .flower3{
        width: 370px;
        height: 410px;
        margin-top: 50px;
        margin-left: 70px;
    }
    .flower4{
        width: 370px;
        height: 410px;
        margin-left: 70px;
        margin-top: 50px;
    }
    .flower5{
        width: 370px;
        height: 720px;
        margin-top: 50px;
        margin-left: 70px;
    }
    .flower6{
        width: 370px;
        height: 410px;
        margin-left: 70px;
        margin-top: 50px;
    }
    .flower7{
        width: 370px;
        height: 710px;
        margin-top: 50px;
        margin-left: 70px;
    }
    .flower8{
        width: 370px;
        margin-top: 50px;
        margin-left: 70px;
    }
    .flower9{
        width: 370px;
        height: 730px;
        margin-left: 70px;
        margin-top: 50px;
    }
   
   img{
    width: 370px;
   }
   hr{
    display: none;
   }
}