body{
    background-color: rgb(146, 0, 182);
}
/* ---------------for all colors------------- */

.row-1{
    margin: 50px auto;
    align-items: center; 
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.row-2{
    display: flex;
    justify-content: space-evenly;

}
.row-3{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    
}

.flower1{
    border: 3px solid rgb(2, 2, 2);
    width: 500px;
    height: 630px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(255, 244, 149);
}
.flower8{
    border: 3px solid rgb(2, 2, 2);
    width: 500px;
    height: 500px;
    border-radius: 15px;
    background-color: rgb(255, 244, 149);
}



/* ----------------single row-2 color flower--------------- */

.flower2{
    border: 3px solid rgb(2, 2, 2);
    width: 300px;
    height:700px;
    text-align: center;
    margin: 50px;
    border-radius: 15px;
    background-color: rgb(255, 244, 149);
}


/* ------------------flower-3--------------- */
.flower3{
    border: 3px solid rgb(2, 2, 2);
    width: 300px;
    height:570px;
    margin: 50px;
    border-radius: 15px;
    text-align: center;
    
    margin-left: 100px;
    background-color:rgb(255, 244, 149);
}

/* ------------flower-4------------- */

.flower4{
    border: 3px solid rgb(2, 2, 2);
    width: 300px;
    height:610px;
    margin: 50px;
    text-align: center;
    border-radius: 15px;
    margin-left: 100px;
    background-color:rgb(255, 244, 149);
}


/* ----------------single row-3 color flower--------------- */


.flower5{
    border: 3px solid rgb(2, 2, 2);
    width: 300px;
    height: 360px;
    margin: 50px;
    margin-top: -200px;
    border-radius: 15px;
    background-color: rgb(255, 244, 149);
}


/* ----------flower-6-------------- */

.flower6{
    border: 3px solid rgb(2, 2, 2);
    width: 300px;
    height: 600px;
    text-align: center;
    margin: 50px;
    border-radius: 15px;
    background-color: rgb(255, 244, 149);
}


/* -------------------flower-7----------------- */
.flower7{
    border: 3px solid rgb(2, 2, 2);
    width: 300px;
    height: 450px;
    margin: 50px;
    margin-top: -110px;
    border-radius: 15px;
    background-color: rgb(255, 244, 149);
}
h3{
    margin-top: 40px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.row-1 img{
    border-radius: 15px;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    
}

.row-2 img{
    border-radius: 15px;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.row-3 img{
    border-radius: 15px;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

button{
    padding: 10px 25px;
    font-weight: bolder;
    border-radius: 35px;
    cursor: pointer;
    color: rgb(7, 69, 212);
    background-color: white;
    border: 3px solid rgb(0, 0, 0); 
    
}

button:hover{
    background-color: black;
    box-shadow: 0px 0px 10px 10px white;
    border: none; 
    color: rgb(255, 255, 255);
    

}


.color{
    color: rgb(201, 4, 178);
    font-weight: bolder;
    
}

/* ------------------------------------------------------------------------------------------------------------------ */


@media (max-width:576px){
    body{
        background-color: rgb(189, 1, 139);
    }
    .flower1{
        width: 370px;
        height: 510px;
        margin-left: 3px;
    }
    .flower2{ 
        margin-top: 50px;
        height: 700px;
    }
    .flower3{ 
        height: 600px;
        margin-top: 50px;
        margin-left: 60px;
    }
    .flower4{
        height: 620px;
        margin-top: 50px;
        margin-left: 55px;
    }
    .flower5{
        margin-top: 50px;
    }
    
    .flower6{ 
        height: 630px;
        margin-top: 50px;
    }
    .flower7{
        margin-top: 50px;
        height: 470px;
    }
    .flower8{
        margin-top: 50px;
        height: 360px;
        width: 300px;
        margin-top: 50px;
    }
    img{
        width: 370px;
    }
    .row-1{
        flex-wrap: wrap;
    }
    .row-2{
        flex-wrap: wrap;
        margin-top: 50px;
        margin-left: 5px;
       
    }
    .row-3{
        flex-wrap: wrap;
        margin-top: 50px;
        margin-left: 10px;
    }
    hr{
        display: none;
    }
}